#DivPrincipalEnTicket{
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 130, 231);
    margin-bottom: 200px;
    padding-bottom: 200px;
}
#DivEnTicket{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 20px 0px;

}