#LiTicketForAProduct{
    border-radius: 10px;
    border: 1px solid rgb(221, 221, 221);
    list-style: none;
    margin-bottom: 10px;
    max-width: 500px;
    padding: 8px 32px;
    text-align: center;
    background-color: #61a1fe;
    p{
        color: #ffffff;
        font-size: 20px;
    }
 }

#TicketsPrevia{
    display: flex;
    flex-direction: row;
}


 #LiTicketForAProductUrgent{
    border-radius: 10px;
    border: 1px solid rgb(221, 221, 221);
    list-style: none;
    margin-bottom: 30px;
    max-width: 600px;
    padding: 8px 90px;
    text-align: center;
    background-color: #f93232;
    p{
        color: #ffffff;
        font-size: 20px;
    }
    #LetraGrande{
        color: #ffffff;
        font-size: 40px;

    }
 }

 #FormEnCreacionTicket{
    width: 80%;
    height: 100%;   
    max-width: 1000px;
    max-height: 1000px;
 }

 #itemTicketTarea{
    color: #ffffff;
    font-size: 20px;
 }