#ContainerUrgentes{
    display: flex;
    flex-direction: row;
}   

#tituloH1{
    border-bottom: 2px solid #292727; //poner la linea  debajo del titulo            
    margin-right: 87%; //disminuyo la barra borden botton.
    text-align: center;

}
#tituloH1Blanco{
    color: white;
    text-align: center;
}


#tituloTicketUrgente{
    margin: 20px 0px 10px 20px;
    font-size: 50px;
    border-bottom: 2px solid #ffffff; //poner la linea  debajo del titulo            

}
#tituloH1BlancoUrgene{
    color: white;
    text-align: center;
    border-bottom: 2px solid #ffffff; //poner la linea  debajo del titulo            

}


#containerInicio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#tituloInicioContainer{
    display: flex;
    margin: 25px 0px 5px 10px;
    h1{
        border-bottom: 2px solid #292727; //poner la linea  debajo del titulo            
        text-align: center;
    }
    button{
        margin-left: 30px;
    }
}
#BloqueProductBarEImagen{
    display: flex;
    img{
        margin-left: 100px;
        width: 1000px;
        height: 800px;
    }

}

#ticketEstadoCerrado{
    color: rebeccapurple;
}


